<!DOCTYPE html>
<html>
<head>
    <title>History</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="box large">
    <h1>Prediction History</h1>

    <table>
        <tr>
            <th>File Name</th>
            <th>Genre</th>
            <th>Confidence</th>
        </tr>

        {% for row in records %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}%</td>
        </tr>
        {% endfor %}
    </table>

    <br>

    <a href="/delete_history">
        <button>Delete History</button>
    </a>

    <br><br>

    <a href="/dashboard">Back to Dashboard</a>
</div>
</body>
</html>