<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="box">
    <h1>🎵 Music Genre Classifier</h1>
    <h2>Login</h2>

    <form method="POST">
        <input type="text" name="username" placeholder="Enter username" required>
        <input type="password" name="password" placeholder="Enter password" required>
        <button type="submit">Login</button>
    </form>

    <p class="msg">{{ message }}</p>
    <p>New user? <a href="/register">Create account</a></p>
</div>
</body>
</html>